*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/*This is the body section*/

body {
  margin: auto;
  padding: auto;
  background-color: whitesmoke;
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  color: #12c289;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}


p {
  color: slategrey;
  font-family: 'Antic', sans-serif;
  text-align: center;
}

a {
  color: slategrey;
  font-family: 'Antic', sans-serif;
  /*text-align: justify;*/
  text-decoration: none;
}

a:hover {
  color: #12c289;
}


/*This is the helper section*/

.font1 {
  font-family: 'Amatic SC', cursive;
  color: #12c289;
}

.font2 {
  font-family: 'Antic', sans-serif;
  color: #08593f;
}

.heading {
  font-size: 2rem;
}
.topsection{
margin-top: 5%
}

.flexcenter {
  display: flex!important;
  justify-content: center;
  align-items: center;
}

/*This is the header section*/

header {
  height: 10vh;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
}

header a {
  padding-right: 2%;
  margin-top: 3%;
  font-size: 1.2rem;
}
header a{
  color: #08593f;
}

header span {
  font-size: 1.5rem;
}

.nav {
 margin-top: 1%;
}

.logo {
  height:10vh;
}

.logo img {
  height: 10vh;
}


/*.grid {*/
/*  flex-flow: nowrap;*/
/*}*/

.department h2{
  font-size: 2.5rem;
  margin-top: 10%;
}


/*This is the homepage section*/

.topsection {
  margin: 0%;
  min-height: 40vh;
  background-image: url('http://colorlisa.com/pictures/9_1.jpg');
  background-size: cover;
  background-repeat: none;
  
}

.topspan {
    margin: 5% 0;
    min-height: 10vh;
    background-color: rgba(245,245,245, 0.9);
}

.topsection span {
  font-size: 3rem;
}

.departments {
  min-height: 30vh;
  margin-top: 5%;
}

.departments h2 {
  padding-top: 8%;
  font-size: 4rem;
}

.departments h3 {
  font-size: 2.8rem;
}

/*.dept {*/
/*  margin: 1%;*/
/*}*/

.dept:hover {
  background-color: rgba(8,89,63, 0.2)
}

.dept1 {
  color: #12c231;
}

.dept2 {
  color:; #12a3c2;
}

.dept3 {
  color: #c23112;
}

.team {
  margin: 5% 10%;
}

.frame {
  padding-top: 3%;
}

.portrait {
  background-image: url(/images/antonia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-top: 2%;
}

.bio p {
  text-align: justify;
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 1% 0;
}

.bio span {
  font-size: 2.5rem;
}

.bio {
  padding-bottom: 3%;
}

p.slogan {
  font-size: 2rem;
  color: #08593f;
}

.homeblog {
  font-size: 3rem;
  margin-bottom: 5%;
}

.homeposts h4 {
  font-size: 1.7rem;
}

.homeposts p {
  font-size: 1.5rem;
}
.homeposts h4{
  padding: 2%;
  margin-bottom: 2%;
}

/*This is the departments section*/

.deptheading h2 {
  font-size: 3rem;
  text-align: center;
}

.sectionheading h2{
  font-size: 4rem;
  margin: 2%;
}

.sectionheading {
  border: 7px solid;
  margin: 5% 25%;
}

.topsection h2 {
  font-size: 3rem;
}

.servicesoutline h3 {
  font-size: 2rem;
}

.servicesoutline p {
  font-size: 1.5rem;
}

.expoutline h3 {
  font-size: 2rem;
}

.expoutline p {
  font-size: 1.5rem;
}

.testoutline h3 {
  font-size: 2rem;
}

.testoutline p {
  font-size: 1.5rem;
}

.matrix {
  margin-left: 2%;
  margin-right: 2%;
}

.matrix h4 {
  font-size: 1.7rem;
}


.commsdeptid {
  border: 10px solid #c23112;
  height: 20vh;
  margin: 5%, 10%;
}

.comms {
  color: #c23112;
}

.web {
  color: #12a3c2;
}

.orgs {
  color: #12c231;
}

.webdeptid {
  border: 10px solid #c23112;
  height: 20vh;
  margin: 5%, 10%;
}

/*This is the posts section*/

.blogtitle {
  font-size: 2rem;
  margin-bottom: 5%;
}

.writing p {
  text-align: justify;
  font-size: 1.5rem;
}

.writing {
  margin-top: 3%;
}

.cats {
  text-align: right;
}

.author {
  text-align: left;
}

.details {
  margin-top: 3%;
}

.mainpart {
  padding: 0 2%;
}

.postimage {
  height: 300px;
}

/*This is the holderpage section*/

.buildasite h2 {
  font-size: 3rem;
}

.buildasite h4 {
  font-size: 2rem;
}

.buildasite h5 {
  font-size: 1.8rem;
}

.buildasite {
  padding-top: 2%;
  line-height: 2;
}

/*This is the footer section*/

.footer {
  margin-top: 5%;
  border-top: 5px solid #08593f;
  align-items: center;
}

footer .fa{
  font-size: 3rem;
  color: #08593f;
}

.buttonholder {
  margin-top: 5%;
  padding: 5% 20%;
}

.fakebutton a{
  color: #08593f;
  font-size: 1.3rem;
}

.fakebutton {
  background-color: whitesmoke;
  border: 3px inset #08593f;
  border-radius: ;
  padding: 15%;
  width: 300px;
  box-shadow: 5px 5px 2px slategrey;
}

.fakebutton span{
  color: slategrey;
  font-size: 2rem;
}

.fakebutton p {
  color: slategrey;
}

.copyright {
  margin-left: 10%;
}
.copyright p{
  font-size: 0.8rem;
}

@media only screen and (max-width: 500px) {
   .topsection {
       margin-top: 10%;
       min-height: 60vh;
   }
    
    .departments {
        margin-top: 10%;
    }
    
    .sectionheading {
        margin: 5%;
    }
    
    .sectiontitle {
        margin-top: 10%;
    }
}
