---
layout: default
title: Communication
services:
- service: Communication Audits
  description: Examine your existing communication activities, recommend changes that will help you better meet your objectives
- service: Internal Communication
  description: Combine the latest tools with research on organisations to get the right internal communication solution for your organisation.
- service: Comms/Media strategies
  description: Social, digital, audiovisual, press - get the right combination for your organisation and your audience.
experiences:
- task: Media Spokeswoman
  outline: Antonia worked for 10 years in media roles for the European Commission, planning media events, briefing journalists and giving radio and TV interviews.
- task: Comms strategies for NGOs
  outline: Using a combination of the audit approach and strategic communications to help NGOs identify communication priorities and build their strategy accordingly.
- task: Rewriting academic research
  outline: Working with academics to identify the core message of their work and find ways to communicate that message to those in the field that can use it in their practice.
testimonials:
- name: Sarah Fortuna
  role: University of Melbourne
  testimonial: I have been struck by Antonia's incredible depth and breadth of knowledge across a range of pertinent issues. She demonstrated intelligence, curiosity and an incredible ability to focus and deliver good outcomes.
- name: Jacqueline Minor
  role: Head of European Commission Representation in UK
  testimonial: Antonia combines strategic thinking with an ability to deliver in detail, topped with strong communication skills. She was a pioneer in the use of social media and brought drive and imagination to every project entrusted to her.
- name: Richard Comerford
  role: Owner, Passionate Learning
  testimonial: Antonia is an outstanding and instantaneous communicator who makes the most of electronic communication tools and her warm style to ensure that teams in which Antonia works are constantly informed
---

<title>{{ page.title }}</title>

<section class="sectiontitle">
  <div>
    <div class="deptheading">
      <span><h2 class="font1">Different</h2><h2 class="font2 comms">Communication</h2></span>
    </div>
  </div>

</section>



  <div class="sectionheading comms">
    <h2 class="servicetitle">Services</h2>
  </div>
  <section class="grid matrix">
    {% for item in page.services %}
      <div class="col-4 servicesoutline">
        <div>
          <h3>{{ item.service }}</h3>
        </div>
        <div>
          <p>{{ item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </section>


  <div class="sectionheading comms">
    <h2 class="exptitle">Experience</h2>
  </div>

    <section class="grid matrix">
      {% for item in page.experiences %}
        <div class="col-4 expoutline">
          <div>
            <h3>{{ item.task }}</h3>
          </div>
          <div>
            <p>{{ item.outline }}</p>
          </div>
        </div>
      {% endfor %}
    </section>

  <div class="sectionheading comms">
    <h2 class="testtitle">Testimonials</h2>
  </div>

<section class="grid matrix">
  {% for item in page.testimonials %}
    <div class="col-4 testoutline">
      <div>
        <h3>{{ item.name }}</h3>
      </div>
      <div>
        <h4>{{ item.role}}</h4>
      </div>
      <div>
        <p>{{ item.testimonial }}</p>
      </div>
    </div>
  {% endfor %}
</section>
