<!DOCTYPE HTML>

<html>

<head>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
  <title>Different Thinking - not your usual consultancy</title>
  <meta name="description" content="Antonia Mochan is a communication, media, organisation consultant operating in Melbourne, Victoria.">
  <meta name="keywords" content="media, communication, organisations, organizations, productivity, internal communication, facilitation, workshops, strategic planning, automation, integration, social networks, social media, research, academic writing, report writing"

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Antic" rel="stylesheet">

  <link href="../css/main.css" rel="stylesheet" type="text/css">


  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link href="../js/main.js">
</head>

<body>
<header>


  <div class="grid-spaceBetween header">
    <div class="col-2 logo flexcenter">
      <a href="/index.html"><img src="../images/logo.png" /></a>
    </div>

    <div class="col-6 nav flexcenter">
      <span class="font1">Different</span>
      <a href="organisations.html">Organisations</a>
      <a href="letmebuildyouasite.html">Websites</a>
      <a href="communication.html">Communication</a>
    </div>
  </div>

</header>


{{content}}



<footer>

  <!-- ADD SOCIAL LINKS -->
  <div class="grid">
    <div class="col-6_sm-12 grid footer">
      <div class="col-4_sm-12">
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="col-4_sm-12">
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="col-4_sm-12">
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-6_sm-12 buttonholder footer">
      <div class="fakebutton">
        <a href=""><span class="font1">Sign up</span> for our newsletter</a>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p>
      Site built and designed by Different Thinking/Antonia Mochan 2017. All rights reserved.
    </p>
  </div>
</footer>
<script src="/js/main.js"></script>
</body>
