<!DOCTYPE HTML>

<html>

<head>
  <title>Different Thinking - not your usual consultancy</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Antic" rel="stylesheet">

  <link href="../css/main.css" rel="stylesheet" type="text/css">



  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link href="../js/main.js">
</head>

<body>
<header>


  <div class="grid-spaceBetween header">
    <div class="col-2 logo flexcenter">
      <a href="/index.html"><img src="../images/logo.png" /></a>
    </div>

    <div class="col-4 nav flexcenter">
      <span class="font1">Different</span>
      <a href="organisations.html">Organisations</a>
      <a href="websites.html">Websites</a>
      <a href="communication.html">Communication</a>
    </div>
  </div>

</header>


{{content}}



<footer>

  <!-- ADD SOCIAL LINKS -->
  <div class="grid">
    <div class="col-6_sm-12 grid footer">
      <div class="col-4_sm-12">
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="col-4_sm-12">
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="col-4_sm-12">
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-6_sm-12 buttonholder footer">
      <div class="fakebutton">
        <a href=""><span class="font1">Sign up</span> for our newsletter</a>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p>
      Site built and designed by Different Thinking/Antonia Mochan 2017. All rights reserved.
    </p>
  </div>
</footer>
<script src="/js/main.js"></script>
</body>
