---
layout: default
---
<title>{{ page.title }}</title>
<div class="blogtitle">
  <h2>{{ page.title }}</h2>
</div>


<section class="grid">

  <div class="col-3_sm-0">
    <!-- <a class="twitter-timeline" data-height="300" href="https://twitter.com/DiffThinkingAU">Tweets by DiffThinkingAU</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  </div>

  <div class="col-6_sm-12 mainpart">
    <div class="postimage" style="background-image: url('{{ page.image }}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    </div>
  <div class="writing">
    <p>
      {{content}}
    </p>
  </div>

  </div>

  <div class="col-3_sm-0 postimage">


</section>

<section class="grid details">

  <div class="col-4_sm-12 cats">
    <p>
      Categories
    </p>
  </div>

  <div class="col-4_sm-12 ">
    <p>
      Published on: {{ page.date | date: '%B %d, %Y' }}
    </p>
  </div>
  <div class="col-4_sm-12 author">
    <p>
      Post by: {{page.author}}
    </p>
  </div>

</section>
