---
layout: default
---
<title>{{ post.title }}</title>

<h2>{{ post.title }}</h2>

<section class="grid">

  <div class="col-3">

  </div>

  <div class="col-6">
    <div style="background-image: url('{{ post.image }}'); background-repeat: no-repeat; background-size: cover; background-position: center;">

    </div>
    <p>
      {{content}}
    </p>
  </div>

  <div class="col-3">

  </div>

</section>

<section class="grid">

  <div class="col-4">

  </div>

  <div class="col-4">
    {{ post.date | date: '%B %d, %Y' }}
  </div>
  <div class="col-4">
    {{post.author}}
  </div>

</section>
